.data-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #424242;
  margin-top: 20px;
  text-align: justify;

  padding: 2px;
}

.text-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #e2091f;
  margin-top: 50px;
}

.image-section {
  
  width: 100%;
  height: 80%;
  margin: auto;
}